<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="~Ep2" Manufacturer="Deployment Dojo" UpgradeCode="d5bbd47c-d3b3-4c6a-b297-658c0f8b4a72" Version="0.9">
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Name="~Ep2">
                <Component Id="c1">
                    <File Source="ep2.txt" />
                </Component>
            </Directory>
        </StandardDirectory>

        <Feature Id="Main">
            <ComponentRef Id="c1" />
        </Feature>
    </Package>
</Wix>